<div class="table">
	
</div>
<div class="btn-c">
	<span class="score-c">
		<span class="tip">得分：</span>
		<span class="score">0</span>
	</span>
	<input class="start-btn" type="button" value="开始" />
	<input class="chan-speed" type="button" value="确定" />
	<input class="speed" type="text" />
	<label class="speed-label">当前速度（单位毫秒）：</label>
</div>
