<h1>奔跑吧，呆瓜</h1>
<div class="container">
	<div class="mainer">
		<div class="run-c">
			<div class="man" id="pc">PC</div>
		</div>
		<div class="run-c">
			<div class="man" id="player">你</div>
		</div>
	</div>
	<div>
		<input class="go" type="button" value="加速" />
	</div>
</div>