<div class="table">
	
</div>
<div class="btn-c">
	<span class="score-c">
		<span class="tip">得分：</span>
		<span class="score">0</span>
	</span>
	<input class="start-btn" type="button" value="开始" />
	<input class="stop" type="button" value="暂停" />
	<input class="speed" type="button" data-speed="10" value="超级快" />
	<input class="speed" type="button" data-speed="100" value="很快" />
	<input class="speed" type="button" data-speed="150" value="快" />
	<input class="speed" type="button" data-speed="200" value="普通" />
	<input class="speed" type="button" data-speed="250" value="慢" />
	<input class="speed" type="button" data-speed="300" value="龟速" />
</div>
