<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script src='/build/{{model}}.js'></script>
  </head>
  <body>
  	33333
    {{{body}}}
  </body>
</html>
