<!DOCTYPE html>
<html>
  <head>
    <title>李孟想的主页</title>
    <link rel="shortcut icon" href="/img/common/favicon.ico" />
    <link rel='stylesheet' href='/css/common.css' />
    <script src='/build/{{model}}.js'></script>
  </head>
  <body>
  	<div class="page-c">
  		<div class="toper">
  			<div class="mainer">TIP：网站建设中。。。如果你什么好的意见或建议，你可以发送邮件到。。。算了，我又不想听，这是我的网站，我说了算。。。</div>
  		</div>
  		<div class="header">
  			<img class="ad-pic" src="/img/common/ad.jpg" />
  		</div>
  		<div class="banner">
  			<div class="mainer">
  				<ul class="banner-ul">
  					<li class="active">
  						<a>首页</a>
  					</li>
  					<li>
  						<a>相册</a>
  					</li>
  					<li>
  						<a>段子</a>
  					</li>
  					<li>
  						<a href="/games/run">小游戏</a>
  					</li>
  					<li>
  						<a>其他</a>
  					</li>
  				</ul>
  			</div>
  		</div>
  		<div class="container">
  			<div class="mainer">{{{body}}}</div>
  		</div>
  		<div class="footer">
  			<div class="mainer">
  				<p class="licence">备案/许可证编号为：苏ICP备17044953号</p>
  			</div>
  		</div>
  	</div>
  </body>
</html>
