.table {
	width: 1010px;
	height: 510px;
	border: solid 5px black;
	margin: 20px auto;
	background-color: #ccc;
	position: relative;
	overflow: hidden;
}
.item {
	width: 10px;
	height: 10px;
	background-color: #000;
	position: absolute;
}
.point {
	width: 10px;
	height: 10px;
	background-color: #000;
	position: absolute;
}
.btn-c {
	height: 100px;
	padding: 0 100px;
}
.start-btn {
	width: 100px;
	height: 30px;
	background-color: #000;
	color: #fdde2c;
	float: right;
}
.stop {
	width: 100px;
	height: 30px;
	background-color: #000;
	color: #fdde2c;
	float: right;
	margin-right: 10px;
}
.speed {
	width: 100px;
	height: 30px;
	background-color: #000;
	color: #fdde2c;
	float: right;
	margin-right: 10px;
}
.score-c {
	float: left;
}
.score-c .tip {
	color: #000;
	font-weight: bold;
	font-size: 20px;
}
.score-c .score {
	color: red;
	font-weight: bold;
	font-size: 20px;
}